{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="page-header">
    <h2>Groups</h2>
  </div>

  <div class="row row-offcanvas row-offcanvas-left">
    <!-- sidebar -->
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
      <a href="/add_group/" class="btn btn-default btn-sm active" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
      <hr>
      <ul class="nav list-group">
        {% for group in groups %}
            <li {% if forloop.first %}class="active"{% endif %}><a href="/groups/{{group.name}}/">{{group.name}}</a></li>
        {% empty %}
            <li>You have to create group first.</li>
        {% endfor %}
      </ul>
    </div>
	
    <!-- main area -->
    <div class="col-xs-12 col-sm-9">
      <p class="text-right"><a href="/del_group/?group={{group.name}}"><span class="label label-default">DELETE</span></a></p>
      <h3>group{{group.name}}</h3>
      <div class="tabbable">
        <ul class="nav nav-tabs" role="tablist" id='tabs'>
          <li {% if current and not build_id  %}class="active"{% endif %}><a href="/{{ repo }}">Current</a></li>
          <li {% if builds %}class="active"{% endif %}><a href="/{{ repo }}/builds/">Build History</a></li>
          {% if current and build_id %}<li class="active"><a href="#">{{ current.id }}</a></li>{% endif %}
        </ul>

      <div class="tab-content">
        <div class="tab-pane {% if current %}active{% endif %}" id="current">
          <div>
          <div class="left">Commit message</div>
          <pre>{{ current.message }}</pre>
          <div>Committer: {{ current.committer }}</div>
          <div class="right">Build start time: {{ current.start }}</div>
      <div class="right">
        Build end time: {{ current.end }}
      </div>
      <div class="right">
        Build console
      </div>
      <pre>
        {{ console }}
      </pre>
    </div>
  </div>
  <div class="tab-pane {% if builds %}active{% endif %}" id="builds">
    <table class="table table-striped">
	<tr>
		<td>
			Build
		</td>
		<td>
			Message
		</td>
		<td>
			Commit
		</td>
		<td>
			Committer
		</td>
		<td>
			Duration
		</td>
		<td>
			Finished
		</td>

	</tr>
	{% for build in builds %}
		<tr>
			<td>
				<a href="/{{ repo }}/builds/{{ build.build_id }}/">{{ build.id }}</a>
			</td>
			<td>
				{{ build.message }}
			</td>
			<td>
				{{ build.commit }}
			</td>

			<td>
				{{ build.committer }}
			</td>
			<td>
				{{ build.end|timesince:build.start }}
			</td>
			<td>
			        {{ build.end|timesince }} agao
			</td>
		</tr>
	{% endfor %}
    </table>
  </div>
</div>
</div>

    </div>
  </div>
</div>
{% endblock %}
