{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="page-header">
    <h2>Keys</h2>
  </div>
  <div class="text-right">
    <a href="/keygen/" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Spec</th>
      <th>Key</th>
      <th>Opretion</th>
    </tr>
    {% for key in keys %}
    <tr>
      <td>
        {{key.spec}}
      </td>
      <td>
        <textarea class="form-control" rows="3">{{key.key|truncatewords:"30"}}</textarea>
      </td>
      <td>
        <a href="/del_key/" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
