{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <h2>Welcome to BuildHub!</h1>
{% if not user.is_authenticated %}
    <p>In order to view your repositories, please sign in.</p>
    {% if form.errors %}
      <p class="error">Sorry, that's not a valid username or password</p>
    {% endif %}

    <form action="/login/" method="post">
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username" />
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
    </form>
    <p>If you have no account, please <a href="/register">sign up.</a></p>
{% else %}
    <form action="/keygen/" method="post">
    <label for="addr">Gerrit host</label>
    <input type="text" name="addr" />
    <label for="user">Gerrit username</label>
    <input type="text" name="user" />
    <label for="port">Gerrit port</label>
    <input type="text" name="port" value="29418"/>
    <input type="submit" value="Generate your key" />
    </form>
    </br>
    <a href="/keys/">My hosts</a>
    </br>
    <a href="/groups/">My Groups</a>
    </br>
    <form action="/groups/" method="post">
    <label for="name">Group name</label>
    <input type="text" name="name" />
    <input type="submit" value="Create group" />
    </form>
{% endif %}
</div>

{% endblock %}
