{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h2>Repositories</h2>
        <h4>Select your repos, check button to add into your group.</h4>
    </div>

    <form role="form" action="/add_repos/" method="post">
    <button type="submit" class="btn btn-primary">Add to group</button>
    <input type="hidden" name="group" value="{{request.GET.group}}">
    <table class="table table-striped">
        <tr>
	    <th>Name</th>
	    <th>Select</th>
	</tr>
	{% for repo in repos %}
	<tr>
            {% if repo %}
	    <td>
	        <a href="/{{repo}}/">{{repo}}</a>
            </td>
	    <td>
                <input type="checkbox" name="repos" value="{{repo}}">
	    </td>
            {% endif %}
	</tr>
	{% endfor %}
    </table>
    <button type="submit" class="btn btn-primary">Add to group</button>
    </form>
</div>
{% endblock %}
