{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="page-header">
    <h2>Gerrit servers</h2>
  </div>

  <div class="row">
    <!--left-->
    <div class="col-md-3" id="leftCol">
      <ul class="nav nav-stacked" id="sidebar">
        <li><a href="#sec0">Section 0</a></li>
        <li><a href="#sec1">Section 1</a></li>
        <li><a href="#sec2">Section 2</a></li>
        <li><a href="#sec3">Section 3</a></li>
        <li><a href="#sec4">Section 4</a></li>
      </ul>
    </div><!--/left-->
  
    <!--right-->
    <div class="col-md-9">
      <h2 id="sec0"></h2>
    </div>

    <table class="table table-striped">
        <tr>
	    <th>Host</th>
	    <th>Username</th>
	    <th>Port</th>
	    <th></th>
	</tr>
	{% for server in servers %}
	<tr>
	    <td>
	        <a href="/servers/{{server.addr}}/">{{server.addr}}</a>
            </td>
	    <td>
                {{server.user}}
	    </td>
	    <td>
                {{server.port}}
	    </td>
	    <td>
                <a href="/repos/?addr={{server.addr}}"><span class="label label-default">repos</span></a>
	    </td>
	</tr>
	{% endfor %}
    </table>
    <br />
</div>
{% endblock %}
