{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="page-header">
    <h2>Gerrit servers</h2>
  </div>

  <div class="row">
    <!--left-->
    <div class="col-md-3" id="leftCol">
      <div class="text-right"><a href="/add_server/" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></div>
      <ul class="nav nav-stacked" id="sidebar">
        {% for server in servers %}
        <li><a href="#sec{{forloop.counter}}">{{server.addr}}</a></li>
	{% endfor %}
      </ul>
    </div><!--/left-->
  
    <!--right-->
    <div class="col-md-9">
      {% for server in details %}
      <h2 id="sec{{forloop.counter}}"></h2>
      <dl class="dl-horizontal">
        <dt>Addr</dt>
	<dd>{{server.addr}}</dd>
        <dt>User</dt>
	<dd>{{server.user}}</dd>
        <dt>Port</dt>
	<dd>{{server.port}}</dd>
        <dt>Key</dt>
	<dd>{{server.key}}</dd>
      </dl>
      {% empty %}
        You have no server, please add one.
      {% endfor %}
    </div><!--/right-->
  </div>
</div>
{% endblock %}
