<html>
    <head>
    </head>
    <body>
	<p>
	    Wellcome muse!
	</p>
	    Your repo list:<br />
	    <table border="1" style="width:700px">
	    <tr>
	    <td>full_name</td>
	    <td>url</td>
	    <td>webhook</td>
	    </tr>
	    {% for repo in repos %}
	    <tr>
		<td>
		    <a href="/repo/{{repo.name}}">{{repo.name}}</a>
		</td>
		<td>
		    {{repo.html_url}}
		</td>
		<td>
		    <a href="/create_hook?repo={{repo.name}}">Enable</a>
		</td>
	    </tr>
	    {% endfor %}
	    </table>
	<br />
	<p>Organizations<p/>
	<table>
           <tr>
           <td>id</td>
           <td>url</td>
           </tr>
           {% for org in orgs %}
           <tr>
               <td>
                   {{org.login}}
               </td>
               <td>
                   {{org.url}}
               </td>
           </tr>
           {% endfor %}
           </table>
    </body>
</html>
