{% extends "base.html" %}
{% block content %}

      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li>Enable repos</li>
              {% for repo in repos %}
                {% if repo.enable %}<li><a href="/repo/{{repo.name}}">{{repo.name}}</a></a></li>{% endif %}
              {% endfor %}
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row placeholders">
            history
          </div>
        </div>
      </div>

{% endblock %}