<html>
    <head>
    </head>
    <body>
	<p>
	    Wellcome muse!
	</p>
	    Your repo list:<br />
	    <table>
	    <tr>
	    <td>full_name</td>
	    <td>clone_url</td>
	    </tr>
	    {% for repo in repos %}
	    <tr>
		<td>
		    {{repo.name}}
		</td>
		<td>
		    {{repo.clone_url}}
		</td>
	    </tr>
	    {% endfor %}
	    </table>
	<br />
	<p>Organizations<p/>
	<table>
           <tr>
           <td>id</td>
           <td>url</td>
           </tr>
           {% for org in orgs %}
           <tr>
               <td>
                   {{org.id}}
               </td>
               <td>
                   {{org.url}}
               </td>
           </tr>
           {% endfor %}
           </table>
    </body>
</html>
