{% extends "base.html" %}
{% block content %}
	<p>
	    Wellcome muse!
	</p>
	    Your repo list:<br />
	    <table class="table table-striped">
	    <tr>
	    <td>full_name</td>
	    <td>url</td>
	    <td>webhook</td>
	    </tr>
	    {% for repo in repos %}
	    <tr>
		<td>
		    <a href="/repo/{{repo.name}}">{{repo.name}}</a>
		</td>
		<td>
		    {{repo.html_url}}
		</td>
		<td>
            {% if repo.enable %}
                <a href="/create_hook?repo={{repo.name}}">Disable</a>
            {% else %}
                <a href="/create_hook?repo={{repo.name}}">Enable</a>
            {% endif %}
		</td>
	    </tr>
	    {% endfor %}
	    </table>
	<br />
<!--
	<p>Organizations<p/>
	<table>
           <tr>
           <td>id</td>
           <td>url</td>
           </tr>
           {% for org in orgs %}
           <tr>
               <td>
                   {{org.login}}
               </td>
               <td>
                   {{org.url}}
               </td>
           </tr>
           {% endfor %}
           </table>
-->
{% endblock %}
