{% extends "base.html" %}
{% block content %}
<ul class="nav nav-tabs" role="tablist">
  <li {% if not build_id %}class="active" {% endif %}><a href="#">Current</a></li>
  <li><a href="#">Build History</a></li>
  {% if build_id %}<li class="active"><a href="#">{{build_id}}</a></li>{% endif %}
</ul>

<table class="table table-striped">
	<tr>
		<td>
			Build
		</td>
		<td>
			Message
		</td>
	</tr>
	{% for hook in hooks %}
		<tr>
			<td>
				<a href="/{{hook.repo}}/builds/{{hook.build_id}}/">{{hook.repo}}</a>
			</td>
			<td>
				<pre>{{hook.pretty}}</pre>
			</td>
		</tr>
	{% endfor %}
</table>

{% endblock %}
