{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h2>Repositories</h1>
    </div>

    <table class="table table-striped">
        <tr>
	    <th>Name</th>
	    <th>Enabled</th>
	</tr>
	{% for repo in repos %}
	<tr>
	    <td>
                {% if repo.enable %}
	        <a href="/repo/{{repo.name}}">{{repo.name}}</a>
		{% else %}
		{{ repo.name }}
		{% endif %}
            </td>
	    <td>
		{% if repo.hook_id %}
                {% if repo.enable %}
                    <a href="/edit_hook/?repo_id={{repo.id}}&repo={{repo.name}}&hook_id={{repo.hook_id}}">
<span class="label label-success">ON</span>
</a>
                {% else %}
                    <a href="/edit_hook/?repo_id={{repo.id}}&repo={{repo.name}}hook_id={{repo.hook_id}}">
<span class="label label-default">OFF</span>
</a>
                {% endif %}
		{% else %}
                    <a href="/create_hook/?repo_id={{repo.id}}&repo={{repo.name}}">
<span class="label label-default">OFF</span>
</a>
		{% endif %}
	    </td>
	</tr>
	{% endfor %}
    </table>
    <br />
<!--
	<p>Organizations<p/>
	<table>
           <tr>
           <td>id</td>
           <td>url</td>
           </tr>
           {% for org in orgs %}
           <tr>
               <td>
                   {{org.login}}
               </td>
               <td>
                   {{org.url}}
               </td>
           </tr>
           {% endfor %}
           </table>
-->
</div>
{% endblock %}
